@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;800&family=Montserrat:wght@400;700&family=Quicksand:wght@300;500&display=swap');

/* TAGS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400; 
}

p strong{
    font-weight: 700;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 1rem;
}

li p {
    display: inline;
}



/* CLASS */

.padding{
    padding: 10% 10%;
}

.gap{
    column-gap: 2rem;
    row-gap: 3rem;
}



.mb-1{
    margin-bottom: 1.5rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mb-4{
    margin-bottom: 4rem;
}



.text-center{
    text-align: center;
}

.text-start{
    text-align: start;
}

.text-end{
    text-align: end;
}

.text-justify{
    text-align: justify;
}



.text-light{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.bg-dark{
    background: #121212;
    color: white;
}

.grid-2{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-3{
    display: grid;
    grid-template-columns: auto auto auto;
}

.fa-4x{
    font-size: 3em;
}

.points p{
    font-size: 0.7rem;
}

.image1{
    background: url("../images/image1.jpg");
    background-size: cover;
    background-position: center;
    
    filter: grayscale(100%);
}

.map{
    position: relative;
    width: 100%;
    height: 100%;
}



/* ID */

#heading h1{
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: 4rem;
}

#heading p{
    font-size: 1.5rem;
}

#heading{
    padding-top: 5rem;
    padding-bottom: 20rem;

    background: url("../images/heading-image.jpg");
    background-position:bottom;
    background-size: cover;
}

#content{
    width: 100%;
}

#content h2{
    font-size: 2rem;
}

@media only screen and (max-width: 300px){
    #heading h1{
        font-size: 3rem;
    }
}

@media only screen and (min-width: 620px) {
    p{
        font-size: 1.5rem;
    }
    .padding{
        padding: 5% 10%;
    }
    .mb-sm-1{
        margin-bottom: 1.5rem;
    }
    .mb-sm-2{
        margin-bottom: 2rem;
    }
    .mb-sm-3{
        margin-bottom: 3rem;
    }
    .mb-sm-4{
        margin-bottom: 4rem;
    }
    .points p{
        font-size: 1.3rem;
    }
    #heading h1{
        font-size: 6rem;
    }
    #heading p{
        font-size: 2rem;
    }
    #content h2{
        font-size: 3.5rem;
    }

    .fa-4x{
        font-size: 4em;
    }
}

@media only screen and (min-width: 1000px) {
    .text-md-start{
        text-align: start;
    }

    .text-md-center{
        text-align: center;
    }

    .grid-md-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-md-3{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .grid-md-2 .padding{
        padding: 10% 15%;
    }
}

@media only screen and (min-width: 1725px){
    p{
        font-size: 2.5rem;
    }

    #heading{
        padding-top: 5rem;
        padding-bottom: 30rem;
    }

    .points p{
        font-size: 2rem;
    }

    #heading h1{
        font-size: 9rem;
    }

    #heading p{
        font-size: 3rem;
    }

    #content h2{
        font-size: 6rem;
    }
}
